html{
    margin: 0;
    padding: 0;
    
    /*background-image: url("../Images/airport.jpg");*/
    background-attachment: scroll;
    color:black;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
    list-style: none;
    margin: 0; 
    background: deepskyblue;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: #1565C0;
  }

h1{
    
    border-style: solid;
    border-right-style: none;
    border-width: 6px;
    border-color:   #CECECE;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 500px;
    padding: 30px 50px 30px ;
    }

p.titres{
  margin: 5% 50% 50%;
  font-size: 300%;
  text-shadow: 2px 2px 0 white,
               4px 4px 0 black
}

img {
    height: 20%;
    width: 10%;
}



.parallax1 {
  
  /* The image used */
 
  background-image: url("../Images/Tokyo.jpg");
  

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  text-align: center;
  color: antiquewhite;
  vertical-align: top;
}


.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.parallax2 {
  
  /* The image used */
  background-image: url("../Images/Melbourne.jpg");
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.parallax3 {
  /* The image used */
  background-image: url("../Images/Venise.jpg");


  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.parallax4 {
  /* The image used */
  background-image: url("../Images/Dubai.jpeg");


  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

a.reservation{
  background-color: black;
  text-decoration: double;
  color: white;
  margin: 5% 50% 50%;
}
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}
#scroll_to_top img {
  width: 50px;
  height: 50px;
}
.modal {
  color: white;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scrolls; /* Enable scroll if needed */
  background-color:deepskyblue; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  padding-top: 30%;
}

/* Modal Content/Box */
.modal-content {
  background-color: deepskyblue;
  margin: 15% auto; /* 15% from the top and centered */
  border: 5% solid rgb(45, 25, 228);
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  text-align: right;
  list-style: none;
  margin: 0; 
  background: deepskyblue;

}